.playlists-playlist{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-rows: 30% 30% auto;
    row-gap: 1rem;
}
.playlist-header{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    align-items: flex-end;
}
.playlist-header-img img{
    width: 100%;
    height: 100%;
}
.playlist-header-content{
    /* border: 1px solid red; */
    padding-left: 1rem;
}
.playlist-header-content p{
    color: white;
}
.playlist-header-content h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
.playlist-header-content h3{
    color: rgba(255, 255, 255, 0.726);
    font-size: 1rem;
}
.playlist-wrapper{
    /* border: 1px solid blue; */
    /* padding-bottom: 2rem; */
    display: grid;
    row-gap: 0.6rem;
    grid-template-rows: 30% auto;
}
.playlist-list{
    /* border: 3px solid rgb(0, 255, 13); */
    display: grid;
    row-gap: 0.5rem;
    grid-template-rows: repeat(2, 35%);
}
.like-play{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* padding: 1rem; */
}
.like-play i:nth-child(1){
    font-size: 1.3rem;
    background: rgb(62, 175, 62);
    padding: 0.8rem;
    padding-left: 1.2rem;
    color: black;
    text-align: center;
    border-radius: 50%;
}
.like-play i:nth-child(2){
    color: rgb(141, 134, 134);
    font-size: 1.7rem;
    margin: 0 1rem;
}
.playlist-list-head{
    /* border: 1px solid red; */
    display: grid;
    color: rgb(167, 162, 162);
    grid-template-columns: 4% 35% 35% 20% 5%;
    grid-template-rows: 100%;
    padding-top: 1rem;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(114, 111, 111, 0.637);
}
.playlist-list-body{
    display: grid;
    color: rgb(180, 175, 175);
    grid-template-columns: 4% 35% 35% 20% 5%;
    grid-template-rows: 100%;
    align-items: center;
    /* border: 1px solid red; */
}
.body-title{
    display: flex;
    align-items: center;
}
.body-title p{
    color: rgba(255, 255, 255, 0.74);
    padding-left: 0.5rem;
    padding-top: 1rem;
}
.body-title img{
    width: 40px;
    height: 40px;
}
.body-album p{
    font-size: 0.9rem;
    padding-top: 1rem;
}
.body-date p{
    font-size: 0.9rem;
    padding-top: 1rem;
}
::-webkit-scrollbar {
    width: 10px; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }